<div class="d-flex justify-content-center m-t-10-per">
    <mat-card class="w-30-per">
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>You can login here</mat-card-subtitle>
        <mat-card-content>
            <form class="">
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Enter Your Email">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Password</mat-label>
                    <input type="email" matInput placeholder="Enter Your Password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
            <div>
                <a routerLink="/register">Did not Register ?</a>
            </div>
            <div>
                <button mat-raised-button color="primary">Cancel</button>
                <button mat-raised-button color="primary">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>